#cloud-config
{% for group in groups %}
{% if loop.first %}
groups:
{% endif %}
  - {{ group }}
{% endfor %}
users:
{% for user in users %}
  - name: {{ user.name }}
    shell: /bin/bash
{% for key in user.ssh_authorized_keys %}
{% if loop.first %}
    ssh-authorized-keys:
{% endif %}
      - {{ key }}
{% endfor %}
{% if user.name != 'root' %}
    uid: {{ user.uid }}
    homedir: {{ user.homedir }}
    plain_text_passwd: {{ user.password }}
{% if user.groups|length > 0 %}
    groups: {% for group in user.groups %}{% if not loop.first %},{% endif %} {{ group }}{% endfor +%}
{% endif %}
{% endif %}
{% endfor %}
hostname: {{ hostname }}
fqdn: {{ fqdn }}
manage_etc_hosts: true
# runcmd:
#   - dhclient -r eth0
#   - dhclient eth0
write_files:
{% if http_proxy is defined %}
  - path: /etc/profile.d/cloud-init-defined-proxies.sh
    permissions: "0644"
    owner: root
    content: |
      PROXY="{{ http_proxy }}"
      export http_proxy=$PROXY
      export https_proxy=$PROXY
      export ftp_proxy=$PROXY
      export HTTP_PROXY=$PROXY
      export HTTPS_PROXY=$PROXY
      export FTP_PROXY=$PROXY
      export no_proxy="127.0.0.1, localhost"
{% if rhel %}
  - path: /etc/yum.conf
    content: |
      proxy="{{ http_proxy }}"
    append: true
{% else %}
  - path: /etc/apt/apt.conf
    content: |
      Acquire::http::Proxy="{{ http_proxy }}"
      Acquire::https::Proxy="{{ http_proxy }}"
    append: true
{% endif %}
{% endif %}
  - path: /etc/sysctl.d/10-disable-ipv6.conf
    permissions: "0644"
    owner: root
    content: |
      net.ipv6.conf.all.disable_ipv6=1
      net.ipv6.conf.default.disable_ipv6=1
package_upgrade: false
manage_etc_hosts: true
ssh_pwauth: true
chpasswd:
  list: |
{% for user in users %}
{% if user.name == 'root' %}
     root:{{ user.password }}
{% endif %}
{% endfor %}
  expire: false
packages:
    - qemu-guest-agent
    - python3
runcmd:
    - ln -sf ../run/systemd/resolve/stub-resolv.conf /etc/resolv.conf
    - sed -i 's/#Domains=.*/Domains={{ domains }}/' /etc/systemd/resolved.conf
    - systemctl enable --now systemd-resolved
    - systemctl start qemu-guest-agent
    - systemctl restart systemd-sysctl
{% if rhel %}
    - grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=1 systemd.legacy_systemd_cgroup_controller=0 cgroup_no_v1=all"
    - grubby --update-kernel ALL --args selinux=0
    - grub2-mkconfig -o /etc/grub2.cfg
{% else %}
    - sed -i 's/GRUB_CMDLINE_LINUX_DEFAULT="console=tty1 console=ttyS0"/GRUB_CMDLINE_LINUX_DEFAULT="console=tty1 console=ttyS0 apparmor=0 systemd.unified_cgroup_hierarchy=1 systemd.legacy_systemd_cgroup_controller=0 cgroup_no_v1=all"/' /etc/default/grub.d/50-cloudimg-settings.cfg
    - update-grub
    - echo "PermitRootLogin yes" >> /etc/ssh/sshd_config
{% endif %}
    - reboot

